In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [257]:
file_path = 'C:/k_digital/source/data/chipotle.csv'
chipo = pd.read_csv(file_path)

In [258]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [220]:
# $ 제거
item = []
for i in list(chipo.loc[:,'item_price']):
    item.append(i[1:])
chipo = chipo.drop('item_price', axis = 1)
chipo['item_price'] = item

In [221]:
# 가장 비싼 음식
chipo.item_price.max()

'9.39 '

In [222]:
# 한 테이블에서 제일 많이 주문한 양
chipo.groupby('order_id').size().max()

23

In [247]:
# 가장 많이 주문한 음식 Top 10
chipo.groupby('item_name').sum()['quantity'].sort_values(
    ascending=False).head(10)

item_name
Chicken Bowl                    761
Chicken Burrito                 591
Chips and Guacamole             506
Steak Burrito                   386
Canned Soft Drink               351
Chips                           230
Steak Bowl                      221
Bottled Water                   211
Chips and Fresh Tomato Salsa    130
Canned Soda                     126
Name: quantity, dtype: int64

In [260]:
chipo['item_name'] = chipo['item_name'].apply(
    lambda i: i.replace('-', ' ') if '-' in i else i)